<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.service.Name}} - Фотоэффект</title>
    <link rel="stylesheet" href="/static/style.css?v=2">
</head>
<body>
<div class="app-container">
    <header class="main-header">
        <h1 class="app-title">⚡ Фотоэффект</h1>
    </header>

    <div class="sub-header">
        <a href="/" class="btn-details">🏠︎</a>

        {{if gt .draft_id 0}}
        <a href="/radiation_calculation/{{.draft_id}}" class="cart-icon" title="Заявка">
            🛒<span class="cart-count">{{.count}}</span>
        </a>
        {{else}}
        <a href="#" class="cart-icon" title="Корзина пуста">🛒</a>
        {{end}}
    </div>

    <main class="main-content">
        <div class="detail-container-vibes">

            <h2 class="experiment-title">Параметры эксперимента</h2>

            <div class="vibes-layout">

                <div class="vibes-video-section">
                    <video autoplay loop muted playsinline class="tiktok-video">
                        <source src="{{.videoURL}}" type="video/mp4">
                    </video>
                    <div class="vibes-video-overlay">
                        <h2 class="video-title">{{.service.Name}}</h2>
                        <p class="video-description">{{.service.Description}}</p>
                        <p class="video-specs">Энергия: {{.service.EnergyRange}} <br> Частота: {{.service.Frequency}}</p>
                    </div>
                </div>

                <div class="vibes-form-section">
                    <form action="/add-to-calculation" method="POST">
                        <input type="hidden" name="service_id" value="{{.service.ID}}">

                        <div class="form-field">
                            <input type="number" name="area" step="0.1" min="0.1" required placeholder="Площадь катода (см²)">
                        </div>

                        <div class="form-field">
                            <input type="number" name="efficiency" step="0.1" min="0" max="100" required placeholder="Квантовая эффективность (%)">
                        </div>

                        <div class="form-field">
                            <input type="number" name="frequency" step="any" placeholder="Частота (Гц)">
                        </div>

                        <div class="form-field">
                            <input type="number" name="work_function" step="any" min="0" required placeholder="Работа выхода (эВ)">
                        </div>

                        <button type="submit" class="btn-add-cart">
                            ➕ Добавить в заявку
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </main>
</div>
</body>
</html>